@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* const P = styled.h1`
  font-size: 1.5em;
  text-align: center;
  color: palevioletred;
`; */

.title {
  
  background-color: papayawhip;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
}

.nav  {
  background-color: palevioletred;
  width: 100vw;
  height: 70px;
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: right;
}

.buttons {
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid palevioletred;
  border-radius: 3px;
  
}

.buttonsNav {
  color: white;
  font-size: 1em;

  padding: 0.25em 1em;
  border: 2px ;
  border-color: palevioletred;
  border-radius: 3px;
  background-color:palevioletred;
  /* height: 44px;
  padding: 0px 24px;
  border-radius: 6px;
  background-color: palevioletred;
  border-color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid;
  letter-spacing: 0.2px; */
}

.buttonsNavDiv {
  background-color: palevioletred;
}

.input {
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid rgb(94, 94, 94);
  border-radius: 23px;
  background-color: rgb(240, 228, 232);
}

* {
  font-family: Raleway;
  background-color: papayawhip;
}

.artwork {
  width: 600px;
  height: auto;
  padding: 18px;
  border-radius: 14px;
  border: 1px solid var(--cloud);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.artwork-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.FavouriteListPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;

}

.signupWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}